.nav-backplate {
  position: fixed;
  top: 0;
  left: -100%;
  height: 5.5rem;
  width: 400px;
  background-image: linear-gradient(to bottom, black, transparent);
  z-index: 3;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 400px;
  background-color: black;
  color: white;
  opacity: 0.9;
  z-index: 2;
  padding: 5.5rem 2rem 0 2rem;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.divider {
  width: auto;
  height: 0.1rem;
  background-color: white;
  margin: 0 0rem 2rem 0rem;
}

.section {
  margin-bottom: 1.5rem;
}

.section .label {
  font-size: 1.5rem;
  font-weight: normal;
}

.section .list-group .list-group-item {
  color: white;
  background-color: black;
}

.section .list-group .list-group-item:hover {
  background-color: rgb(32, 32, 32);
}

.section .list-group .list-group-item.disabled {
  opacity: 0.5;
}

.form-check-input:focus {
  background-image: url("./gray-toggle.svg") !important;
  border-color: gray !important;
}

.form-check-input:checked {
  background-image: url("./white-toggle.svg") !important;
  border-color: gray !important;
  background-color: gray !important;
}

.form-control-color {
  width: 2.5rem;
  height: 2rem;
  padding: 0.125rem;
  margin-right: 0.5rem;
}

.trash {
  margin-left: 0.75rem;
  opacity: 0.5;
}

.trash:hover {
  opacity: 1;
}

.add {
  margin-left: 0.25rem;
  opacity: 0.5;
}

.add:hover {
  opacity: 1;
}

.form-control {
  background-color: black;
  border-color: gray;
}

.form-control:focus {
  background-color: black;
  border-color: white;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
}

.form-select {
  background-color: black;
  color: white;
}

.dropdown-menu {
  background-color: rgb(12, 12, 12);
  border-color: white;
}

.dropdown-item {
  color:white;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}